.primary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid var(--white-color);
  background-color: var(--primary-color);

  color: var(--white-color);
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;
  transition: background-color 0.2s linear, color 0.2s linear, border 0.2s linear;

  &:hover {
    border-color: var(--primary-color);
    background-color: var(--white-color);
    color: var(--primary-color);
  }
}

.secondary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  border: 1px solid #6F6D7B;
  background-color: var(--white-color);

  color: #2A2B30;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
  text-transform: uppercase;

  transition: background-color 0.2s linear, color 0.2s linear, border 0.2s linear;

  &:hover {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-color: var(--primary-color);
  }
}